{
    "extends": "airbnb-base",
    "rules": {
      "semi": [2, "never"],
      "no-underscore-dangle": ["error", { "allow": ["_id"] }]
    },
    "plugins": ["mocha"],
    "env": {
      "mocha": true
    },
    "overrides": [
      {
          "files": "*.spec.js",
          "rules": {
              "no-unused-expressions": "off"
          }
      }
  ]
}
