{
    "extends": "airbnb-base",
    "plugins": ["mocha"],
    "env": {
      "mocha": true
    },
    "rules": {
      "semi": [2, "never"],
      "no-underscore-dangle": ["error", { "allow": ["_id"] }],
      "mocha/no-mocha-arrows": 1
    },
    "overrides": [
      {
          "files": "*.spec.js",
          "rules": {
              "no-unused-expressions": "off",
              "prefer-arrow-callback": "off",
              "func-names": "off"
          }
      }
  ]
}
